- var tint = 'light';
- if(document.source.indexOf('android') > 0){
- 	tint = 'dark';
- }
!!! 5
html
	head
		meta(charset = 'utf-8')
		meta('http-equiv' = 'X-UA-Compatible', content = 'IE=edge,chrome=1')
		title Testcases for Onsen CSS Components
		meta(name="viewport", content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0")

		link(rel = 'stylesheet', type = 'text/css', href = '../' + document.filename)
		link(rel = 'stylesheet', type = 'text/css', href = 'css/main.css')
		link(rel = 'stylesheet', type = 'text/css', href = 'css/brackets.css')
		link(href="/patterns/lib/font_awesome/css/font-awesome.min.css", rel="stylesheet")
		link(href="/patterns/lib/ionicons/css/ionicons.min.css", rel="stylesheet")

	body(class=tint, ng-app='app', ontouchstart='')
		#wrapper
			.max-width
				#sideNav
					nav.site: ul
						li: a(href=templateData.homeURL) Home
						-if(templateData.siteNav)
							- each siteNavItem, i in templateData.siteNav
								- if(i == 0)
									li.selected: a(href=siteNavItem.url)=siteNavItem.text
								- else
									li: a(href=siteNavItem.url)=siteNavItem.text
					div.combo
						select.docNav
							- each item in nav
								- item.title = item.title.replace(/Topcoat Mobile/, '')
								- if(item.url == document.url)
									option(value=item.url, selected="selected")=item.title
								- else
									option(value=item.url)=item.title
					#pageNav: ul
						- each component in document.components
							li: a(href='#'+component.slug)=component.name
			#site
				header#main-header
					.max-width
						hgroup
							h1 Testcases for Onsen CSS Components
							p=templateData.subtitle
						nav
							ul
								-if(templateData.siteNav)
									- each siteNavItem, i in templateData.siteNav
										- if(i == 0)
											li.selected: a(href=siteNavItem.url)=siteNavItem.text
										- else
											li: a(href=siteNavItem.url)=siteNavItem.text
								- if(templateData.download)
									li: a#download-btn(href=templateData.download.url, onclick="_gaq.push(['_trackEvent', 'download', 'click',,, false]);")=templateData.download.label
						a#slide-menu-button.icon-button--large--quiet
							span.icon--large.icon--menu-stack
				#content.max-width
					article.component

						div(style="clear: both")

					- each component in document.components
						article.component(id=component.slug)
							header
								h2=component.name
							section.component
								div.markup.page__background(style="width: 320px; position: relative; min-height: " + (component.height || '160px') + ";")
									div(style="width: 100%; height: 100%; position:absolute")!=component.markup
							- if(component.examples)
								section.examples
									h4 Examples
									ul
										- each example_url, example_text in component.examples
											li: a(href = example_url)!= example_text
							footer.showcode
								a(href="#") Show code snippets
								section.code
									div
										pre.html
											code(data-language="html")=component.markup
				footer
		script(src="js/rainbow-custom.min.js")
		script(src='js/main.js')
